<div class="col-xs-12">
  <h3>My Boards</h3>
  <% collection.each(function(board){ %>
    <a href="#board/<%= board.get("id") %>">
      <div class='col-xs-3' style='float: left;'>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <%= board.get('title') %>
            <a href="#" data-id="<%= board.get('id') %>"
              class="pull-right glyphicon glyphicon-trash" />
          </div>
        </div>
      </div>
    </a>
    
    <% }); %>
</div>