<h3><span class="glyphicon glyphicon-inbox"></span> My Boards</h3>

<div class="row">
  <% collection.each(function(board){ %>
    <div class='col-xs-3'>    
      <div class='panel panel-default'> 
        <div class='panel-body board-body'>
           <a class="board-body-link" href="#board/<%= board.get("id") %>"> 
             <%= board.get('title') %>
             <a href="#" data-id="<%= board.get('id') %>"
               class="board-remove glyphicon glyphicon-remove">
             </a>
           </a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
