<h3><%= model.get('title') %></h3>
<div class="col-xs-2">
  <ul>
  <% model.lists().each(function(list){ %>
    <li><%= list.get('title') %> <%= list.get('rank') %></li>
  <% }); %>
  </ul>
</div>
<div class="col-xs-2">
  <a href="#board/<%= model.get('id') %>/lists" class="btn btn-primary">Add new list</a>
</div>