/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
.ui-state-default {
  list-style: none;
  margin: 0;
}

.sortable-cards {
  min-height: 20px;
  padding: 0;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.sortable-lists {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.dragging {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  transform: rotate(5deg);
  -ms-transform:rotate(5deg);
  -webkit-transform:rotate(5deg); /* Opera, Chrome, and Safari */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.placeholder {
  background-color: #f6f6f6;
  list-style: none;
}