<div class="col-xs-2 col-xs-offset-5">
  <h4>Add a list...</h4>
  <form id="new-submit" action="#" method="get" accept-charset="utf-8">
    <div class="form-group">
      <input class='form-control' type="text" 
      name="list[title]" id="form_title">
    </div>
  
    <div class="form-group">
      <input type="submit" id="input_title" 
      class='btn btn-primary' value="create">
    </div>
  </form>
</div>