<div class="col-xs-2 col-xs-offset-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Add a list..</h4>
    </div>
    
    <div class="panel-body">
      <form id="new-submit" action="#" method="get" accept-charset="utf-8">
        <input type="hidden" name="list[board_id]" value="<%= model.id %>">
        <input type="hidden" name="list[rank]" value="0">
        <div class="form-group">
          <input class='form-control' type="text" 
          name="list[title]" id="form_title">
        </div>
  
        <div class="form-group">
          <input type="submit" id="input_title" 
          class='btn btn-primary' value="create">
        </div>
      </form>
    </div>
  </div>
</div>